@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap");
@font-face {
  font-family: "Maragsa";
  src: url("../fonts/Maragsa-Display.otf");
}

body {
  font-family: "Poppins", sans-serif;
}

.container-bg {
  background-image: url("../img/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  display: block;
}
.container-date {
  background-image: url("../img/bg-date.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-trailer {
  background-image: url("../img/bg-trailer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.sinopsis-section {
  background-image: url("../img/section-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}
.price-section {
  background-image: url("../img/bg-ticket.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}
.section-title {
  font-family: "Maragsa", sans-serif;
  color: #da622a;
  font-weight: 700;
}
.section-title-white {
  font-family: "Maragsa", sans-serif;
  color: white;
  font-weight: 700;
}
.sinopsis-bg {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  max-height: 100%;
  max-width: 100%;
}
/* .sinopsis-container {
  background-image: url("../img/bg-sinopsis.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;
} */
.sinopsis-container {
  background-color: #2b2869;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 25px 0px 25px 0px;
}
/* .tc-container {
  background-image: url("../img/bg-sinopsis.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
} */
.tc-container {
  background-color: #2b2869;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  border-radius: 25px 0px 25px 0px;
}

.merchant-section {
  background-image: url("../img/bg-merchant.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

.auth-bg {
  background-image: url("../img/bg-login.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

.auth-bg-right {
  background-image: url("../img/bg-auth-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

.ticket-bg-right {
  background-image: url("../img/bg-ticket-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

.bundle-1 {
  background-image: url("../img/bundle-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bundle-2 {
  background-image: url("../img/bundle-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bundle-3 {
  background-image: url("../img/bundle-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bg-feedback-left {
  background-image: url("../img/bg-ticket-feedback-left-min.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}
.bg-feedback-right {
  background-image: url("../img/bg-ticket-feedback-right-min-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  height: auto;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0,
    rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0,
    rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0,
    rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

.terms td.number {
  vertical-align: top;
}

.olshop-container {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px 0px 25px 0px;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
